@model StoreFront.DATA.EF.Models.Item

@{
    ViewData["Title"] = "Create";
}
<center>
<h1 class="text-light  m-50">Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-light">
        <form asp-action="Create"asp-controller="Item">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="align-center">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class ="form-control" asp-items="ViewBag.ItemTypeId"></select>
            </div>
            <div class="">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="RequiredLevel" class="control-label"></label>
                <input asp-for="RequiredLevel" class="form-control" />
                <span asp-validation-for="RequiredLevel" class="text-danger"></span>
            </div>
           
            <div class="">
                <label asp-for="ItemCategoryId" class="control-label"></label>
                <select asp-for="ItemCategoryId" class ="form-control" asp-items="ViewBag.ItemCategoryId"></select>
            </div>
            <div class="">
                <label asp-for="ServerId" class="control-label"></label>
                <select asp-for="ServerId" class ="form-control" asp-items="ViewBag.ServerId"></select>
            </div>
            <div class="">
                <label asp-for="ItemsInStock" class="control-label"></label>
                <input asp-for="ItemsInStock" class="form-control" />
                <span asp-validation-for="ItemsInStock" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-floating">
                    <input  asp-action="" value="Create" class="btn btn-primary" /></>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
