@{
    ViewData["Title"] = "Home";
}




<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="~/images/barb.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="~/images/nova.png" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="~/images/inv.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Unleash the Power, Gear Up for Glory: Your One-Stop Shop!</h2>
				<p>Come shop around and see how powerfull you will become!</p>

				<ul class="list-unstyled custom-list my-4">
					<li>Epic Loot, Unmatched Power, Adventures Await – Gear Up Now!</li>
					<li>Slay Demons in Style – Dive into Our Arsenal Today!</li>
					<li>From Unique Finds to Rare Treasures – Your Journey Begins Here!</li>
					<li>Discover the Legendary, Equip the Epic, Forge Your Destiny</li>
				</ul>
				<p><a herf="#" class="btn">Explore</a></p>
			</div>
		</div>
	</div>
</div>

<div class="testimonial-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Testimonials</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>"I'm impressed with how quickly Scott was able to grasp new concepts and technologies."</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/Harrison.jpg" alt="Harrison Smith" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Harrison Smith</h3>
											<span class="position d-block mb-3">Centriq Grad Developer</span>
										</div>
									</div>

								</div>
							</div>
						</div>
					

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>"We partnered to make a scheduling application for one of our projects. We worked really well together, Scott is a great troubleshooter and developer."</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/channels4_profile.jpg" alt="Nathan Boehm" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Nathan Boehm</h3>
											<span class="position d-block mb-3">Centriq Grad Developer</span>
										</div>
									</div>

								</div>
							</div>
						</div>
					

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>"I worked with Scott in September through December, he's a great guy with outstanding work ethic!"</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/JohnBlack.jpg" alt="John Black" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">John Black</h3>
											<span class="position d-block mb-3">Centriq Grad Developer</span>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

